{{#post.isAdmin}}
<div class="alert alert-block alert-info">
	<button type="button" class="close" data-dismiss="alert">×</button>
	<h4>Admin quick links</h4>
	<a href="/admin/#admin-articles-edit-{{post.id}}">Click here to edit this post..</a>
</div>
{{/post.isAdmin}}

<div class="post post-{{post.id}}">
	<h2>{{&post.title}}</h2>
	<p class="post-desc"><em>{{&post.desc}}</em></p>

	<div class="tags">
		{{#post.tags}}
		<a href="{{&baseUrl}}{{&url}}" rel="tag">{{name}}</a>
		{{/post.tags}}
		<div class="clearfix"></div>
	</div>

	<div class="content full {{#post.big_thumb}}content-big-thumb{{/post.big_thumb}}">

		{{#showNormalThumbnail}}
		<div class="big_thumb drop-shadow" data-background="{{&baseUrl}}{{&post.big_thumb}}"></div>
		{{/showNormalThumbnail}}
		
		{{#showFeedThumbnail}}
		<div class="big_thumb drop-shadow"><p style="text-align: center;"><img src="{{&baseUrl}}{{&post.big_thumb}}" alt="{{&page.title}}"></p></div>
		{{/showFeedThumbnail}}

		<div class="row-fluid">
			<div class="span12">
				<div class="social_plugins">
					<div id="facebook" class="item">
						<div class="fb-like" data-href="{{&post.shortlink}}" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
					</div>

					<div id="googlePlus" class="item">
						<div class="g-plusone" data-size="medium" data-anootation="bubble"></div>
					</div>

					<div id="twitter" class="item">
						<a href="https://twitter.com/share" class="twitter-share-button" data-text="Interesting post on {{site.site_name}} : {{post.title}}" data-url="{{&post.shortlink}}" data-count="horizontal" data-lang="fr"></a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>

		{{&post.content}}

		<div class="row-fluid">
			<div class="span12">
				<div class="social_plugins bottom">
					<div id="facebook" class="item">
						<div class="fb-like" data-href="{{&post.shortlink}}" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
					</div>

					<div id="googlePlus" class="item">
						<div class="g-plusone" data-size="medium" data-anootation="bubble"></div>
					</div>

					<div id="twitter" class="item">
						<a href="https://twitter.com/share" class="twitter-share-button" data-text="Interesting post on {{site.site_name}} : {{post.title}}" data-url="{{&post.shortlink}}" data-count="horizontal" data-lang="fr"></a>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>

		<!--<div class="metas">Par <a href="/profile/{{&post.author.pseudo}}">{{&post.author.pseudo}}</a>, {{&post.displayDate}}</div>-->
		<div class="metas">Par <b>{{&post.author.name}}</b>, {{&post.createdDate}}</div>

		<div class="comments">
			<div id="disqus_thread" data-identifier="{{post.id}}" data-title="{{&page.title}}"></div>
		</div>
	</div>
</div>